@font-face { 
    font-family: 'Jalnan Gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jalnan2';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');

}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 1;

    }

    100% {
        transform: scale(4);
        opacity: 0;
    }
}


body {
    font-family: 'NEXON Lv2 Gothic';
    line-height: 1.5;
    color: #ffffff;
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 좌우 스크롤 제거 */
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
}

.container {
    max-width: 100%;
    margin: 0 auto; /* 가운데 정렬 */
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20%; /* 우측 여백 */
    background-color: #000000;
    color: #ffffff;
    border-bottom: 2px solid #00ff00;
}

.logo img {
    height: 22.5px; /* 로고 크기 조정 */
    position: relative;
    top: 0px;
    left: 10%;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    align-items: top;
}

.nav-menu li {
    margin-left: 65px;
}

.nav-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
    font-family: 'Jalnan2';
    position: relative;
    right: 20px;
}

.nav-menu a:hover {
    color: #00ff00; /* 호버 시 글자 색상 변경 */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 메인 컨텐츠 영역 */
main {
    max-width: 100%;
    margin: 0 auto;
}

/* Section_1 */
.container {
    height: 380px;
    margin-bottom: -1020px;
}

#intro {
    text-align: left;
    padding: 4rem 0;
    background-color: transparent;
    color: #ffffff; /* 글자색 추가 */
    align-content: center;
}

#bg-video {
    position: relative;
    top: -226px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1080px;
    max-width: 100%;
    object-fit: cover;
    z-index: -1;
    clip-path: inset(162px 0 240px 0);
}


#intro .intro-content {
    width: 100%;
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-44.5%);
    top: -290%;
    margin: 100px 0px ;
    white-space: nowrap;

}

#intro h1 {
    font-family: 'Jalnan Gothic';
    font-size: 36px;
    margin-bottom: 1rem; 
    margin-left: 16%;
    line-height: 1.4;
    font-weight: 300;
    align-items: center;
}

#intro p {
    font-size: 17px;
    margin-bottom: 2rem;
    margin-left: 16%;
    line-height: 1.8;
}

#intro .intro-buttons {
    display: flex;
    justify-content: left;
    gap: 0.5rem;
    margin-left: 16%;
}

.button_1, .button_2 {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    border: 2px solid #00ff00; /* 테두리 추가 */
    color: #00ff00;
    font-family: 'Jalnan2';
    text-align: center;
    text-decoration: none;
    font-weight: 50;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    left: 0px;
    border-radius: 0;
    width: 125px
    
}

.button_1:hover, .button_2:hover  {
    background-color: #00ff00;
    color: #000000;
}

/* 제품구성 */
#product {
    position: relative;
    width: 100%;
    height: 900px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 20px;
}

.product-container {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    margin-bottom: 1rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
    -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
}

.product-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
}

.mobile-break {
    display: none; /* 기본적으로 줄바꿈 숨김 */
}

.product-description {
    font-size: 17px;
}

.product-image {
    position: relative;
    top: 40px;
    left: -3px;
    transition: transform 0.5s ease; /* 이미지 이동 애니메이션 추가 */
}

.product-image img {
    display: flex;
    width: 950px; /* 기본 이미지 너비 */
    height: auto;
    transition: transform 0.5s ease; /* 이미지 이동 애니메이션 추가 */
}   

.product-button-1, .product-button-2, .product-button-3, .product-button-4, .product-button-5, .product-button-6 {
    position: absolute;
    width: 25px; /* 내부 초록색 원의 크기 */
    height: 25px;
    background-color: #00ff00; /* 내부 초록색 원 */
    border: 1px solid #000000; /* 검은색 테두리 */
    border-radius: 50%;
    z-index: 1; /* 작은 원이 위에 표시되도록 설정 */
    transition: transform 0.5s ease; /* 버튼 이동 애니메이션 추가 */
}

.product-button-1 { transform: translate(535px, -300px); } /*리프트*/
.product-button-2 { transform: translate(450px, -335px); } /*카메라*/
.product-button-3 { transform: translate(475px, -470px); } /*로봇*/
.product-button-4 { transform: translate(315px, -343px); } /*키오스크*/
.product-button-5 { transform: translate(260px, -285px); } /*카드리더기*/
.product-button-6 { transform: translate(332px, -245px); } /*포토프린트*/

.product-image.shift-left img {
    transform: translateX(-350px); /* 이미지와 버튼을 왼쪽으로 이동 */
}

.product-button-1.shift-left { transform: translate(185px, -300px); }
.product-button-2.shift-left { transform: translate(100px, -335px); }
.product-button-3.shift-left { transform: translate(125px, -470px); }
.product-button-4.shift-left { transform: translate(-35px, -343px); }
.product-button-5.shift-left { transform: translate(-90px, -285px); }
.product-button-6.shift-left { transform: translate(-18px, -245px); }

.product-button-1::after, .product-button-2::after, .product-button-3::after, .product-button-4::after, .product-button-5::after, .product-button-6::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(0, 255, 0, 0.3);
    border-radius: 50%;
    z-index: -1; /* 애니메이션 원이 뒤에 표시되도록 설정 */
    animation: ripple 2s infinite;
}

/* 호버 효과 추가 */
.product-button-1:hover, .product-button-2:hover, .product-button-3:hover, .product-button-4:hover, .product-button-5:hover, .product-button-6:hover {
    cursor: pointer; /* 호버 시 커서 손가락 모양으로 변경 */
}

.popup {
    display: none; /* 기본적으로 숨김 */
    position: relative;
    top: -690px;
    right: -51%;
    width: 591px;
    height: 515px;
    background-color: #00ff00;
    border: 1px solid #000;
    z-index: 1000; /* 다른 요소 위에 표시 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 10px;
    opacity: 0; /* 기본적으로 투명 */
    animation: slideIn 0.5s forwards; /* 슬라이드 인 애니메이션 적용 */
    margin-bottom: -549px;
}

.popup.slide-out {
    animation: slideOut 0.5s forwards; /* 슬라이드 아웃 애니메이션 적용 */
}

.popup-content {
    position: relative;
    top: 20px;
    left: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #000;
    width: 300px;
    height: 300px;
}

.popup-text {
    position: absolute;
    top: 360px;
    left: 0px;
    font-family: 'Jalnan2';
    color: #000;
}

.popup-text h3 {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 5px;
}

.popup-text p {
    font-family: 'NEXON Lv2 Gothic';
    font-size: 17px;
    line-height: 28px;
    margin: 0;
    letter-spacing: -0.4px; /* 원하는 자간 값을 설정하세요 */
}

.popup-image {
    position: relative;
    top: -20px;
    left: -16px;
    width: 112%;
    height: 113%;
    background-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px; /* 둥근 모서리 추가 */
    overflow: hidden; /* 비디오 콘텐츠가 테두리를 벗어나지 않도록 함 */
}

.popup-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.popup-image video {
    max-width: 200%;
    max-height: 100%;
    object-fit: contain;

}

.close-btn {
    position: absolute;
    top: -35px;
    right: -230px;
    font-size: 40px; /* 닫기 버튼 크기 조정 */
    cursor: pointer;
    color: #000; /* 닫기 버튼 색상 */
    background-color: transparent; /* 배경색 투명 */
    border: none; /* 테두리 없음 */
    z-index: 1001; /* 닫기 버튼이 다른 요소 위에 표시되도록 설정 */
}

.shift-left {
    transform: translateX(0px); /* 왼쪽으로 밀리게 설정 */
    transition: transform 0.5s ease;
}

/* keyfeature1 */
#keyfeature1 {
    position: relative;
    width: 100%;
    height: 1200px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 0px;
}

.keyfeature1-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
    border-top: 4px solid #00ff00; /* 위쪽 보더 추가 */
    border-bottom: 2px solid #00ff00; /* 아래쪽 보더 추가 */
}

.keyfeature1-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    margin-top: 3rem;
    text-shadow: 3px 3px 0px rgb(0, 0, 0); /* 그림자 추가 */
    -webkit-text-stroke: 0.5px #000000; /* 테두리 추가 */
}

.keyfeature1-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
    color: #ffffff;
}

.keyfeature1-description {
    font-size: 17px;
    color: #ffffff;
}

.keyfeature1-buttons {
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    position: relative;
    top: 175px;
    left: -10px;
}

.keyfeature1-button {
    padding: 2rem 3.2rem;
    background-color: #00ff00;
    border: 2px solid #000;
    color: #000;
    font-family: 'Jalnan2';
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    z-index: 1000; /* 다른 요소 위에 표시 */
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}

.keyfeature1-button:hover {
    background-color: #000;
    border: 2px solid #00ff00;
    color: #00ff00;
}

.keyfeature1-button.active {
    background-color: #000;
    border: 2px solid #00ff00;
    color: #00ff00;
}



.keyfeature1-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 220px;
    margin: 0 auto;
    width: 80%; /* 내용의 너비 설정 */
    height: 550px;
    max-width: 1100px; /* 최대 너비 설정 */
    padding: 1rem 0;
    gap: var(--content-gap, 0rem); /* 간격을 CSS 변수로 설정 */
}

.content-section {
    width: calc(50% - var(--content-gap, 0.5rem) / 2);
    height: 580px;
    border: 2px solid #000;
    padding: 1rem;
    box-sizing: border-box;
    text-align: left;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    overflow: hidden; /* 추가: 섹션을 벗어나는 내용을 숨김 */
    position: relative; /* 추가: 절대 위치 지정된 자식 요소의 기준점 */
}

.content-section p, .content-section h2 {
    font-family: 'JalnanGothic';
    font-size: 16px;
    color: #000;
    text-align: ce; /* 글자 좌측 정렬 */
    margin-left: 20px;
}

#left-title {
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    background-color: #00ff00;
    background-size: 100px 5px;
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin: 20px; /* 여백 제거 */
    padding:  0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
    z-index: 10;
}

#video-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#left-video {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 170%;
    height: auto;
    max-height: none;
    object-fit: cover;
    clip-path: inset(30px 0 0 0);
}

#right-title {
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    background-color: #00ff00;
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin-left: 20px; /* 여백 제거 */
    margin-bottom: -10px;
    padding:  0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
}

#right-description {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    font-size: 16px;
    color: #000;
    margin-bottom: 50px;
    margin-left: 20px;
}

.shooting-mode {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

:root {
    --text-row-gap: 20px; /* 기본 간격 설정 */
  }
  
  .text-row {
      display: flex;
      justify-content: space-between;
      margin-left: 21px;
      margin-bottom: 5px;
      gap: var(--text-row-gap);
  }
  
  .text-row h3 {
      flex: 1; /* 각 텍스트가 동일한 너비를 가지도록 설정 */
  }

.image-row {
    display: flex;
    justify-content: space-between;
}

.mode-group {
    width: 48%; /* 각 그룹의 너비를 조절할 수 있습니다 */
    display: flex;
    flex-direction: column;
}

.shooting-mode h3 {
    font-family: 'Jalnan2';
    font-size: 15px;
    color: #000;
    margin: 0 0 10px 0;
}

.right-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border-radius: 0px;
}

.vertical-image {
    position: relative;
    left: 7px;
    height: 332px; /* 원하는 크기로 조정 */
    object-fit: cover;
    margin-bottom: 10px;
    overflow: hidden;
    border:#000 solid 1px;
    box-shadow: #000000 2px 2px;
}

.horizontal-image {
    position: relative;
    left: -3px;
    height: 160px; /* 원하는 크기로 조정 */
    object-fit: cover;
    margin-bottom: 10px;
    overflow: hidden;
    border:#000 solid 1px;
    box-shadow: #000000 2px 2px;
}

.mode-group {
    display: block;
}

.multi-angle-container {
    position: relative;
    top: -35px;
    left: 20px;
    width: 88%;
    height: auto;
    overflow: hidden;
}

#multi-angle-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%;
}

/* keyfeature1-2 */
#keyfeature1-2 {
    position: relative;
    top: -100px;
    width: 100%;
    height: 650px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
}

.keyfeature1-2-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
}



.keyfeature1-2-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
}

.keyfeature1-2-description {
    font-size: 17px;
}

.photo-frame-container {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-47.5%);
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 0px;
}

.photo-frame-image {
    width: 48%; 
    position: relative;
}

.photo-frame-image video,
.photo-frame-image img {
    display: block;
    width: 100%;
    height: auto;
}

#photo-frame-video-1-1,
#photo-frame-video-2-1 {
    position: relative;
    z-index: 1;
}

#photo-frame-video-1-2,
#photo-frame-video-2-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* keyfeature2 */
#keyfeature2 {
    position: relative;
    width: 100%;
    height: 1200px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 0px;
}

.keyfeature2-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
}

.keyfeature2-container::before {
    content: '';
    position: absolute;
    top: 19px;
    left: 200px;
    right: 200px;
    height: 100%;
    border-top: 1px solid #000; /* 원하는 테두리 색상으로 변경 */
    box-sizing: border-box;
    z-index: -1; /* 배경 뒤에 위치하도록 설정 */
}

.keyfeature2-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    background-color: #ffffff;
    padding: 0rem 2rem ; /* 배경 크기를 조정하는 패딩 값 */
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
    -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin-top: 0px;
    margin-bottom: -10px;
}


.keyfeature2-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
}

.keyfeature2-description {
    font-size: 17px;
}


.keyfeature2-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 70px;
    margin: 0 auto;
    width: 80%; /* 내용의 너비 설정 */
    max-width: 1100px; /* 최대 너비 설정 */
    padding: 1rem 0;
    gap: var(--content-gap, 0rem); /* 간격을 CSS 변수로 설정 */
}

.content2-section, .content2-section2 {
    width: calc(50% - var(--content-gap, 0.5rem) / 2); /* 좌우 섹션의 너비를 간격에 따라 조정 */
    border: 2px solid #000;
    height: 550px;
    padding: 1rem;
    box-sizing: border-box;
    text-align: left; /* 글자 좌측 정렬 */
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    position: relative;
    overflow: hidden;
}

.content2-section2 p, .content2-section2 h2 {
    font-family: 'JalnanGothic';
    font-size: 16px;
    color: #000;
    text-align: left; /* 글자 좌측 정렬 */
    margin-left: 20px;
    z-index: 100;
}

#left-title2, #right-title2 {
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    background-color: #00ff00;
    display: inline-block;
    margin: 20px;
    padding: 0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
    position: relative;
    z-index: 2;
}


#key2-left-video {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 170%; /* 섹션보다 약간 더 넓게 설정 */
    height: auto;
    max-height: none;
    object-fit: cover;
}

#key2-right-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%; /* 섹션보다 약간 더 넓게 설정 */
    height: auto;
    max-height: none;
    object-fit: cover;
}

#right-description2 {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    font-size: 16px;
    top: 70px;
    color: #000;
    margin-bottom: 30px;
    margin-left: 20px;
    position: absolute;
    z-index: 2;
    
}

.shooting-mode2 h3 {
    font-family: 'Jalnan2';
    font-size: 15px;
    color: #000;
    margin-left: 20px;
    margin-bottom: 10px;
}



/* keyfeature2-2 */
#keyfeature2-2 {
    position: relative;
    top: -350px;
    width: 100%;
    height: 650px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: -50px;
}

.keyfeature2-2-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
}



.keyfeature2-2-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
}

.keyfeature2-2-description {
    font-size: 17px;
}

.video-reference {
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    overflow: hidden;
    cursor: pointer;
}

.slide-track {
    display: flex;
    gap: 12px;
    width: 200%;
}

.slide-track img {
    width: calc(50% - 6px);
    height: auto;
}

/* keyfeature3 */
#keyfeature3 {
    position: relative;
    top:-100px;
    width: 100%;
    height: 800px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-top: 0;
}

.keyfeature3-container {
    position: absolute;
    top: -22%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
    border-top: 4px solid #00ff00; /* 위쪽 보더 추가 */
    border-bottom: 2px solid #00ff00; /* 아래쪽 보더 추가 */
}

.keyfeature3-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    margin-top: 3.7rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
    -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
}

.keyfeature3-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
    color: #ffffff; /* 강조색 */
}

.keyfeature3-description {
    font-size: 17px;
    color: #ffffff; /* 강조색 */
}

.event-reference-container {
    max-width: 1500px; /* 최대 너비 설정 */
    width: 90%; /* 화면의 90% 너비 사용 */
    margin: 0 auto; /* 중앙 정렬 */
    position: relative;
    top: 20%;
}

.event-reference {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 비율 유지 (9/16 * 100) */
    overflow: hidden;
}

.event-reference img {
    position: absolute;
    top: -9%;
    left: -5%;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center top;
    clip-path: inset(7.33% 2% 15% 0); /* 비율에 맞게 조정된 clip-path */
}  

/* keyfeature4 */
#keyfeature4 {
    position: relative;
    width: 100%;
    height: 1200px; /* 섹션 높이 설정 */
    background-color: #000000;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 0px;
}

.keyfeature4-container {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
    margin-bottom: 0;
}


.keyfeature4-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    background-color: none;
    padding: 0rem 2rem ; /* 배경 크기를 조정하는 패딩 값 */
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
    -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin-top: 70px;
    margin-bottom: 0px;
}


.keyfeature4-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
    color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}



.keyfeature4-description {
    font-size: 17px;
    color: #ffffff;
}


.keyfeature4-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -160px;
    margin: 0 auto;
    width: 80%; /* 내용의 너비 설정 */
    height: 550px;
    max-width: 1000px; /* 최대 너비 설정 */
    padding: 1rem 0;
    gap: var(--content-gap, 0rem); /* 간격을 CSS 변수로 설정 */
}

.content4-section {
    width: calc(50% - var(--content-gap, 0.5rem) / 2); /* 좌우 섹션의 너비를 간격에 따라 조정 */
    height: auto;
    border: 2px solid #000000;
    background-color:#ffffff;
    padding: 1rem;
    box-sizing: border-box;
    text-align: left; 
    box-shadow: 4px 4px 0px #00ff00;

}

.content4-section2 {
    width: calc(50% - var(--content-gap, 0.5rem) / 2); /* 좌우 섹션의 너비를 간격에 따라 조정 */
    height: auto;
    border: 2px solid #000000;
    background-color:#ffffff;
    padding: 1rem;
    box-sizing: border-box;
    text-align: left; 
    box-shadow: 4px 4px 0px #00ff00;
}

#left-title4 {
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    background-color: #00ff00;
    background-size: 100px 5px;
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin: 20px;
    padding:  0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
}

#left-subtitle4-1 {
    display: flex;
    align-items: left;
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    margin-left: 20px; /* 여백 제거 */
    margin-top: 0px;
    line-height: 1; /* 줄 높이 설정 */
}

.description-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: -5px;
}

#check-icon {
    position: relative;
    top: -3px;
    width: 25px;
    height: auto;
    margin-right: 8px;
}

.description {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    font-size: 18px;
    color: #000;
    line-height: 1px; /* 줄 높이 설정 */
    
}

#left-subtitle4-2 {
    display: flex;
    align-items: left;
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    margin-left: 20px; /* 여백 제거 */
    margin-top: 60px;
    line-height: 1; /* 줄 높이 설정 */
    
}

#right-title4 {
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    background-color: #00ff00;
    background-size: 100px 5px;
    padding:  0.0rem 0.5rem 0.7rem 0.5rem; /* 배경 크기를 조정하는 패딩 값 */
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin: 20px;
    line-height: 0.3; /* 줄 높이 설정 */
}

#right-subtitle4-1 {
    display: flex;
    align-items: left;
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    margin-left: 20px; 
    margin-top: 0px;
    line-height: 1; 
}

.description-right-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: -5px;
}

#check-icon {
    position: relative;
    top: -3px;
    width: 25px;
    height: auto;
    margin-right: 8px;
}

.description-right {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    font-size: 18px;
    color: #000;
    line-height: 1px; 
}

.description-right-row2 {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
}

.description-right2 {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    font-size: 15px;
    color: #000;
    line-height: 1px; /* 줄 높이 설정 */
}

#right-subtitle4-2 {
    display: flex;
    align-items: left;
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    margin-left: 20px; /* 여백 제거 */
    margin-top: 60px;
    line-height: 1; /* 줄 높이 설정 */
}

.shooting-mode2 h3 {
    font-family: 'Jalnan2';
    font-size: 15px;
    color: #000;
    margin-left: 20px;
    margin-bottom: 10px;
}

.image-row2 {
    display: flex;
    gap: 1rem;
    margin-left: 20px;
}

.image-row2 img {
    width: 100px;
    height: 130px;
    border: 1px solid #000;
}

/* keyfeature4-2 */
#keyfeature4-2 {
    position: relative;
    width: 100%;
    height: 1400px; /* 섹션 높이 설정 */
    background-color: #000000;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 0px;
    margin-top: 4%;
}

.keyfeature4-2-container {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
}

.subtitle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
    color: #00ff00;
}

.keyfeature4-2-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    color: #ffffff;
    margin-right: 10px; /* 유상 서비스와 간격을 조정 */
}


.keyfeature4-2-description {
    font-size: 17px;
    color: #ffffff;
}

.keyfeature4-2-description2 {
    font-size: 17px;
    color: #00ff00;
}

.keyfeature4-2-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: -280px;
    margin: 0 auto;
    width: 90%; /* 전체 너비의 90%를 사용 */
    max-width: 1000px; /* 최대 너비 설정 */
    padding: 1rem 0;
}

.content4-2-section {
    width: calc(50% - 5px); /* 50%에서 간격의 절반만큼 뺌 */
    height: 0; /* 높이를 0으로 설정 */
    padding-bottom: calc(50% - 10px); /* 너비와 동일한 높이를 만듭니다 */
    margin-bottom: 10px; /* 아래쪽 간격 */
    border: 2px solid #000000;
    background-color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 4px 4px 0px #00ff00;
    position: relative;
    overflow: hidden;
    min-width: 250px; /* 최소 너비 설정 */
    min-height: 250px; /* 최소 높이 설정 */
}


#title4-2 {
    font-family: 'Jalnan2';
    font-size: 20px;
    text-align: center;
    color: #000;
    background-color: #00ff00;
    padding: 0.0rem 0.5rem 0.7rem 0.5rem;
    display: inline-block;
    margin: 0 0 1rem 0;
    line-height: 0.3;
    position: relative;
    margin-top: 7%;
    z-index: 3;
}

#Custom-Branding{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

#Photo-Logo{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#Kiosk-Logo{
    position: absolute;
    top: 65%;
    left: 50.7%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

#Brand-AD {
    position: absolute;
    top: 57%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content4-2-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    position: relative;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px; /* 버튼 컨테이너의 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
}

.button4-2_1, .button4-2_2 {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    border: 2px solid #00ff00;
    color: #ffffff;
    font-family: 'Jalnan2';
    text-align: center;
    -webkit-text-stroke: 0.5px #000;
    text-decoration: none;
    font-weight: 50;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 0;
    width: 150px;
    margin: 15% 0 -10%;
}

.button4-2_1:hover, .button4-2_2:hover  {
    background-color: #00ff00;
    color: #000000;
}

#additional-text-section {
    position: relative;
    top: -10%;
    width: 100%;
    background-color: #000000;
    border-top: solid 1px #00ff00;
    padding: 50px 0;
}

.additional-text-container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    justify-content: center;
}

.text-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.text-cell {
    font-family: 'NEXON Lv1 Gothic';
    font-weight: 100;
    font-size: 15px;
    color: #cbcbcb;
}

.text-cell.hoverable {
    cursor: pointer;
}

.text-cell.hoverable:hover {
    color: #00ff00;
}

.text-cell.hoverable a {
    text-decoration: none;
    color: inherit; /* 부모 요소의 색상을 상속 */
}

#insta-container {
    flex-shrink: 0;
    margin-left: 20px;
    align-self: flex-start;
}

#insta-cell {
    justify-self: start;
    align-self: start;
    grid-column: auto;
    grid-row: auto;
}

#insta {
    cursor: pointer;
    width: 30px;
    height: auto;
}

#insta:hover {
    filter: brightness(1.5);
}

/*모바일 메뉴바*/

body.menu-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

.menu-icon {
    display: none;
    cursor: pointer;
    position: relative; 
    margin-right: 5px;
}

.bar {
    width: 50px;
    height: 4px;
    border-radius: 3px;
    background-color: #ffffff;
    margin: 10px 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2000;
}

.overlay .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.overlay .nav-menu li {
    margin: 20px 0;
}

.overlay .nav-menu a {
    font-size: 24px;
    color: #ffffff;
}

.mobile-nav-menu {
    display: none;
}

.close-icon {
    position: absolute;
    top: 30px;
    right: -150%;
    font-size: 50px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

@media (max-width: 1600px) {
    .event-reference-container {
        top: 30%;
        width: 100%;
        height: auto;
    }
}

