@font-face { 
    font-family: 'Jalnan Gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jalnan2';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');

}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 1;

    }

    100% {
        transform: scale(4);
        opacity: 0;
    }
}


body {
    font-family: 'NEXON Lv2 Gothic';
    line-height: 1.5;
    color: #ffffff;
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 좌우 스크롤 제거 */
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
}

.container {
    max-width: 1920px;
    margin: 0 auto; /* 가운데 정렬 */
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20%; /* 우측 여백 */
    background-color: #000000;
    color: #ffffff;
    border-bottom: 2px solid #00ff00;
}

.logo img {
    height: 22.5px; /* 로고 크기 조정 */
    position: relative;
    top: 0px;
    left: 10px;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    align-items: top;
}

.nav-menu li {
    margin-left: 65px;
}

.nav-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
    font-family: 'Jalnan2';
    position: relative;
    right: 40px;
}

.nav-menu a:hover {
    color: #00ff00; /* 호버 시 글자 색상 변경 */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 메인 컨텐츠 영역 */
main {
    max-width: 100%;
    margin: 0 auto;
}

/* Section_1 */
.container {
    height: 380px;
    margin-bottom: -1020px;
}

#intro {
    text-align: left;
    padding: 4rem 0;
    background-color: transparent;
    color: #ffffff; /* 글자색 추가 */
}

#bg-video {
    position: relative;
    top: -226px;
    left: 0;
    width: 1920px;
    height: 1080px;
    max-width: 1920px;
    object-fit: cover;
    z-index: -1;
    clip-path: inset(162px 0 240px 0); /* 상단 202px, 하단 203px 크롭 */
}


#intro .intro-content {
    max-width: 990px;
    position: relative;
    top: -1080px;
    margin: 100px 333px;
    white-space: nowrap;
}

#intro h1 {
    font-family: 'Jalnan Gothic';
    font-size: 36px;
    margin-bottom: 1rem; 
    margin-left: 60px;
    line-height: 1.4;
    font-weight: 300;
}

#intro p {
    font-size: 17px;
    margin-bottom: 2rem;
    margin-left: 60px;
    line-height: 1.8;
}

#intro .intro-buttons {
    display: flex;
    justify-content: left;
    gap: 0.5rem;
    margin-left: 60px;
}

.button_1, .button_2 {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    border: 2px solid #00ff00; /* 테두리 추가 */
    color: #00ff00;
    font-family: 'Jalnan2';
    text-align: center;
    text-decoration: none;
    font-weight: 50;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    left: 0px;
    border-radius: 0;
    width: 125px
    
}

.button_1:hover, .button_2:hover  {
    background-color: #00ff00;
    color: #000000;
}

/* 제품구성 */
#product {
    position: relative;
    width: 100%;
    height: 900px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 20px;
}

.product-container {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    margin-bottom: 1rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
    -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
}

.product-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
}

.mobile-break {
    display: none; /* 기본적으로 줄바꿈 숨김 */
}

.product-description {
    font-size: 17px;
}

.product-image {
    position: relative;
    top: 40px;
    left: -3px;
    transition: transform 0.5s ease; /* 이미지 이동 애니메이션 추가 */
}

.product-image img {
    display: flex;
    width: 950px; /* 기본 이미지 너비 */
    height: auto;
    transition: transform 0.5s ease; /* 이미지 이동 애니메이션 추가 */
}   

.product-button-1, .product-button-2, .product-button-3, .product-button-4, .product-button-5, .product-button-6 {
    position: absolute;
    width: 25px; /* 내부 초록색 원의 크기 */
    height: 25px;
    background-color: #00ff00; /* 내부 초록색 원 */
    border: 1px solid #000000; /* 검은색 테두리 */
    border-radius: 50%;
    z-index: 1; /* 작은 원이 위에 표시되도록 설정 */
    transition: transform 0.5s ease; /* 버튼 이동 애니메이션 추가 */
}

.product-button-1 { transform: translate(535px, -300px); } /*리프트*/
.product-button-2 { transform: translate(450px, -335px); } /*카메라*/
.product-button-3 { transform: translate(475px, -470px); } /*로봇*/
.product-button-4 { transform: translate(315px, -343px); } /*키오스크*/
.product-button-5 { transform: translate(260px, -285px); } /*카드리더기*/
.product-button-6 { transform: translate(332px, -245px); } /*포토프린트*/

.product-image.shift-left img {
    transform: translateX(-350px); /* 이미지와 버튼을 왼쪽으로 이동 */
}

.product-button-1.shift-left { transform: translate(185px, -300px); }
.product-button-2.shift-left { transform: translate(100px, -335px); }
.product-button-3.shift-left { transform: translate(125px, -470px); }
.product-button-4.shift-left { transform: translate(-35px, -343px); }
.product-button-5.shift-left { transform: translate(-90px, -285px); }
.product-button-6.shift-left { transform: translate(-18px, -245px); }

.product-button-1::after, .product-button-2::after, .product-button-3::after, .product-button-4::after, .product-button-5::after, .product-button-6::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(0, 255, 0, 0.3);
    border-radius: 50%;
    z-index: -1; /* 애니메이션 원이 뒤에 표시되도록 설정 */
    animation: ripple 2s infinite;
}

/* 호버 효과 추가 */
.product-button-1:hover, .product-button-2:hover, .product-button-3:hover, .product-button-4:hover, .product-button-5:hover, .product-button-6:hover {
    cursor: pointer; /* 호버 시 커서 손가락 모양으로 변경 */
}

.popup {
    display: none; /* 기본적으로 숨김 */
    position: relative;
    top: -690px;
    right: -1000px;
    width: 591px;
    height: 515px;
    background-color: #00ff00;
    border: 1px solid #000;
    z-index: 1000; /* 다른 요소 위에 표시 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 10px;
    opacity: 0; /* 기본적으로 투명 */
    animation: slideIn 0.5s forwards; /* 슬라이드 인 애니메이션 적용 */
    margin-bottom: -549px;
}

.popup.slide-out {
    animation: slideOut 0.5s forwards; /* 슬라이드 아웃 애니메이션 적용 */
}

.popup-content {
    position: relative;
    top: 20px;
    left: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #000;
    width: 300px;
    height: 300px;
}

.popup-text {
    position: absolute;
    top: 360px;
    left: 0px;
    font-family: 'Jalnan2';
    color: #000;
}

.popup-text h3 {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 5px;
}

.popup-text p {
    font-family: 'NEXON Lv2 Gothic';
    font-size: 17px;
    line-height: 28px;
    margin: 0;
    letter-spacing: -0.4px; /* 원하는 자간 값을 설정하세요 */
}

.close-btn {
    position: absolute;
    top: -35px;
    right: -230px;
    font-size: 40px; /* 닫기 버튼 크기 조정 */
    cursor: pointer;
    color: #000; /* 닫기 버튼 색상 */
    background-color: transparent; /* 배경색 투명 */
    border: none; /* 테두리 없음 */
    z-index: 1001; /* 닫기 버튼이 다른 요소 위에 표시되도록 설정 */
}

.shift-left {
    transform: translateX(0px); /* 왼쪽으로 밀리게 설정 */
    transition: transform 0.5s ease;
}

/* keyfeature1 */
#keyfeature1 {
    position: relative;
    width: 100%;
    height: 1200px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 0px;
}

.keyfeature1-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00ff00;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
    border-top: 4px solid black; /* 위쪽 보더 추가 */
    border-bottom: 2px solid black; /* 아래쪽 보더 추가 */
}

.keyfeature1-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    margin-top: 3rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
    -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
}

.keyfeature1-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
}

.keyfeature1-description {
    font-size: 17px;
}

.keyfeature1-buttons {
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    position: relative;
    top: 175px;
    left: -10px;
}

.keyfeature1-button {
    padding: 2rem 3.2rem;
    background-color: #00ff00;
    border: 2px solid #000;
    color: #000;
    font-family: 'Jalnan2';
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    z-index: 1000; /* 다른 요소 위에 표시 */
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

.keyfeature1-button:hover {
    background-color: #000;
    color: #00ff00;
}

.keyfeature1-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 220px;
    margin: 0 auto;
    width: 80%; /* 내용의 너비 설정 */
    height: 550px;
    max-width: 1100px; /* 최대 너비 설정 */
    padding: 1rem 0;
    gap: var(--content-gap, 0rem); /* 간격을 CSS 변수로 설정 */
}

.content-section {
    width: calc(50% - var(--content-gap, 0.5rem) / 2); /* 좌우 섹션의 너비를 간격에 따라 조정 */
    height: 580px;
    border: 2px solid #000;
    padding: 1rem;
    box-sizing: border-box;
    text-align: left; /* 글자 좌측 정렬 */
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

.content-section p, .content-section h2 {
    font-family: 'JalnanGothic';
    font-size: 16px;
    color: #000;
    text-align: left; /* 글자 좌측 정렬 */
    margin-left: 20px;
}

#left-title {
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    background-color: #00ff00;
    background-size: 100px 5px;
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin: 20px; /* 여백 제거 */
    padding:  0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
    z-index: 10;
}

#video-container {
    width: 120%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#left-video {
    position: relative;
    top: -25px;
    left: -70px;
    width: 120%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    clip-path: inset(20px 18px 21px 55px);
}

#right-title {
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    background-color: #00ff00;
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin-left: 20px; /* 여백 제거 */
    margin-bottom: -10px;
    padding:  0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
}

#right-description {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    margin-left: 20px;
}

.shooting-mode h3 {
    font-family: 'Jalnan2';
    font-size: 15px;
    color: #000;
    margin-left: 20px;
    margin-bottom: 10px;
}

.image-row {
    display: flex;
    gap: 1rem;
    margin-left: 20px;
}

.image-row img {
    width: 100px;
    height: 130px;
    border: 1px solid #000;
}

/* keyfeature1-2 */
#keyfeature1-2 {
    position: relative;
    top: -90px;
    width: 100%;
    height: 650px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
}

.keyfeature1-2-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
}



.keyfeature1-2-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
}

.keyfeature1-2-description {
    font-size: 17px;
}

.photo-frame-container {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-49%);
    width: 100%;
    max-width: 1200px; /* 컨테이너의 최대 너비 */
    display: flex;
    align-items: center;
    gap: 0px;
}

.photo-frame-image {
    width: 48%; 
}

.photo-frame-image img {
    display: block;
    width: 100%;
    height: auto;
}

/* keyfeature2 */
#keyfeature2 {
    position: relative;
    width: 100%;
    height: 1200px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 0px;
}

.keyfeature2-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
}

.keyfeature2-container::before {
    content: '';
    position: absolute;
    top: 19px;
    left: 200px;
    right: 200px;
    height: 100%;
    border-top: 1px solid #000; /* 원하는 테두리 색상으로 변경 */
    box-sizing: border-box;
    z-index: -1; /* 배경 뒤에 위치하도록 설정 */
}

.keyfeature2-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    background-color: #ffffff;
    padding: 0rem 2rem ; /* 배경 크기를 조정하는 패딩 값 */
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
    -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin-top: 0px;
}


.keyfeature2-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
}

.keyfeature2-description {
    font-size: 17px;
}


.keyfeature2-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 110px;
    margin: 0 auto;
    width: 80%; /* 내용의 너비 설정 */
    height: 550px;
    max-width: 1100px; /* 최대 너비 설정 */
    padding: 1rem 0;
    gap: var(--content-gap, 0rem); /* 간격을 CSS 변수로 설정 */
}

.content2-section {
    width: calc(50% - var(--content-gap, 0.5rem) / 2); /* 좌우 섹션의 너비를 간격에 따라 조정 */
    height: auto;
    border: 2px solid #000;
    padding: 1rem;
    box-sizing: border-box;
    text-align: left; /* 글자 좌측 정렬 */
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

.content2-section2 {
    width: calc(50% - var(--content-gap, 0.5rem) / 2); /* 좌우 섹션의 너비를 간격에 따라 조정 */
    height: auto;
    border: 2px solid #000;
    padding: 1rem;
    box-sizing: border-box;
    text-align: left; /* 글자 좌측 정렬 */
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

.content2-section2 p, .content2-section2 h2 {
    font-family: 'JalnanGothic';
    font-size: 16px;
    color: #000;
    text-align: left; /* 글자 좌측 정렬 */
    margin-left: 20px;
}

#left-title2 {
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    background-color: #00ff00;
    background-size: 100px 5px;
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin: 20px; /* 여백 제거 */
    padding:  0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
}

#left-image2 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding-left: 20px;
}

#right-title2 {
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    background-color: #00ff00;
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin-left: 20px; /* 여백 제거 */
    margin-bottom: -10px;
    padding:  0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
}

#right-description2 {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    margin-left: 20px;
}

.shooting-mode2 h3 {
    font-family: 'Jalnan2';
    font-size: 15px;
    color: #000;
    margin-left: 20px;
    margin-bottom: 10px;
}

.image-row2 {
    display: flex;
    gap: 1rem;
    margin-left: 20px;
}

.image-row2 img {
    width: 100px;
    height: 130px;
    border: 1px solid #000;
}

/* keyfeature2-2 */
#keyfeature2-2 {
    position: relative;
    top: -300px;
    width: 100%;
    height: 650px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 0;
}

.keyfeature2-2-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
}



.keyfeature2-2-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
}

.keyfeature2-2-description {
    font-size: 17px;
}

.video-reference {
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    overflow: hidden;
    cursor: pointer;
}

.slide-track {
    display: flex;
    gap: 12px;
    width: 200%;
}

.slide-track img {
    width: calc(50% - 6px);
    height: auto;
}

/* keyfeature3 */
#keyfeature3 {
    position: relative;
    top:-100px;
    width: 100%;
    height: 750px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-top: 0;
    
}

.keyfeature3-container {
    position: absolute;
    top: -160px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00ff00;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
    border-top: 4px solid black; /* 위쪽 보더 추가 */
    border-bottom: 2px solid black; /* 아래쪽 보더 추가 */
}

.keyfeature3-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    margin-top: 3.7rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
    -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
}

.keyfeature3-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
}

.keyfeature3-description {
    font-size: 17px;
}

.event-reference {
    position: relative;
    max-width: 1920px;
    top: 70px;
    transform: translateX(20%);
    z-index: -10; /* 배경 뒤에 위치하도록 설정 */
}

.event-reference img {
    display: block;
    width: 60%; /* 기본 이미지 너비 */
    height: auto;

}   

/* keyfeature4 */
#keyfeature4 {
    position: relative;
    width: 100%;
    height: 1200px; /* 섹션 높이 설정 */
    background-color: #000000;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 0px;
}

.keyfeature4-container {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
    margin-bottom: 0;
}


.keyfeature4-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    background-color: none;
    padding: 0rem 2rem ; /* 배경 크기를 조정하는 패딩 값 */
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
    -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin-top: 70px;
    margin-bottom: 0px;
}


.keyfeature4-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    margin-bottom: -10px;
    color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}



.keyfeature4-description {
    font-size: 17px;
    color: #ffffff;
}


.keyfeature4-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -160px;
    margin: 0 auto;
    width: 80%; /* 내용의 너비 설정 */
    height: 550px;
    max-width: 1000px; /* 최대 너비 설정 */
    padding: 1rem 0;
    gap: var(--content-gap, 0rem); /* 간격을 CSS 변수로 설정 */
}

.content4-section {
    width: calc(50% - var(--content-gap, 0.5rem) / 2); /* 좌우 섹션의 너비를 간격에 따라 조정 */
    height: auto;
    border: 2px solid #000000;
    background-color:#ffffff;
    padding: 1rem;
    box-sizing: border-box;
    text-align: left; /* 글자 좌측 정렬 */
    box-shadow: 4px 4px 0px #00ff00;

}

.content4-section2 {
    width: calc(50% - var(--content-gap, 0.5rem) / 2); /* 좌우 섹션의 너비를 간격에 따라 조정 */
    height: auto;
    border: 2px solid #000000;
    background-color:#ffffff;
    padding: 1rem;
    box-sizing: border-box;
    text-align: left; /* 글자 좌측 정렬 */
    box-shadow: 4px 4px 0px #00ff00;
}

#left-title4 {
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    background-color: #00ff00;
    background-size: 100px 5px;
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin: 20px;
    padding:  0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
}

#left-subtitle4-1 {
    display: flex;
    align-items: left;
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    margin-left: 20px; /* 여백 제거 */
    margin-top: 0px;
    line-height: 1; /* 줄 높이 설정 */
}

.description-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: -5px;
}

#check-icon {
    position: relative;
    top: -3px;
    width: 25px;
    height: auto;
    margin-right: 8px;
}

.description {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    font-size: 18px;
    color: #000;
    line-height: 1px; /* 줄 높이 설정 */
    
}

#left-subtitle4-2 {
    display: flex;
    align-items: left;
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    margin-left: 20px; /* 여백 제거 */
    margin-top: 60px;
    line-height: 1; /* 줄 높이 설정 */
    
}

#right-title4 {
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    background-color: #00ff00;
    background-size: 100px 5px;
    padding:  0.0rem 0.5rem 0.7rem 0.5rem; /* 배경 크기를 조정하는 패딩 값 */
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin: 20px;
    line-height: 0.3; /* 줄 높이 설정 */
}

#right-subtitle4-1 {
    display: flex;
    align-items: left;
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    margin-left: 20px; 
    margin-top: 0px;
    line-height: 1; 
}

.description-right-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: -5px;
}

#check-icon {
    position: relative;
    top: -3px;
    width: 25px;
    height: auto;
    margin-right: 8px;
}

.description-right {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    font-size: 18px;
    color: #000;
    line-height: 1px; 
}

.description-right-row2 {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
}

.description-right2 {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    font-size: 15px;
    color: #000;
    line-height: 1px; /* 줄 높이 설정 */
}

#right-subtitle4-2 {
    display: flex;
    align-items: left;
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    margin-left: 20px; /* 여백 제거 */
    margin-top: 60px;
    line-height: 1; /* 줄 높이 설정 */
}

.shooting-mode2 h3 {
    font-family: 'Jalnan2';
    font-size: 15px;
    color: #000;
    margin-left: 20px;
    margin-bottom: 10px;
}

.image-row2 {
    display: flex;
    gap: 1rem;
    margin-left: 20px;
}

.image-row2 img {
    width: 100px;
    height: 130px;
    border: 1px solid #000;
}

/* keyfeature4-2 */
#keyfeature4-2 {
    position: relative;
    width: 100%;
    height: 1400px; /* 섹션 높이 설정 */
    background-color: #000000;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 0px;
}

.keyfeature4-2-container {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
}

.subtitle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
    color: #00ff00;
}

.keyfeature4-2-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 33px;
    font-weight: 300;
    color: #ffffff;
    margin-right: 10px; /* 유상 서비스와 간격을 조정 */
}


.keyfeature4-2-description {
    font-size: 17px;
    color: #ffffff;
}

.keyfeature4-2-description2 {
    font-size: 17px;
    color: #00ff00;
}

.keyfeature4-2-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: -260px;
    margin: 0 auto;
    width: 80%; /* 내용의 너비 설정 */
    max-width: 800px; /* 최대 너비 설정 */
    padding: 1rem 0;
    gap: 0.6rem; /* 간격 설정 */
}

.content4-2-section  {
    width: calc(48% - -0.7rem); /* 좌우 섹션의 너비를 간격에 따라 조정 */
    height: 500px;
    border: 2px solid #000000;
    background-color:#ffffff;
    padding: 3rem;
    box-sizing: border-box;
    text-align: left; /* 글자 좌측 정렬 */
    box-shadow: 4px 4px 0px #00ff00;
}

#title4-2 {
    font-family: 'Jalnan2';
    font-size: 20px;
    text-align: center;
    color: #000;
    margin: 0px;
    line-height: 1; /* 줄 높이 설정 */
}

.content4-2-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-left: 220px;
    margin-top: 100px;
}

.button4-2_1, .button4-2_2 {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    border: 2px solid #00ff00; /* 테두리 추가 */
    color: #ffffff;
    font-family: 'Jalnan2';
    text-align: center;
    -webkit-text-stroke: 0.5px #000;
    text-decoration: none;
    font-weight: 50;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    left: 0px;
    border-radius: 0;
    width: 125px;
}

.button4-2_1:hover, .button4-2_2:hover  {
    background-color: #00ff00;
    color: #000000;
}

#additional-text-section {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #000000;
    top: -150px;
}

.additional-text-container {
    max-width: 1920px;
    margin: 0 auto;
    color: #ffffff;
    border-top: solid 1px #00ff00;
}

.text-grid {
    display: grid;
    grid-template-columns: 525px 225px 500px;
    grid-auto-flow: column;
    gap: 15px 0px;
    padding: 35px 355px;
    margin-top: 20px;
}

.text-cell {
    font-family: 'NEXON Lv1 Gothic';
    font-weight: 100;
    font-size: 15px;
    color: #cbcbcb;
    text-align: left;
}

.text-cell.hoverable {
    cursor: pointer;
}

.text-cell.hoverable:hover {
    color: #00ff00;
}

#insta-cell {
    position: relative;
    top: -120px;
    left: -120px;
    grid-column: 3;
    grid-row: 4;
    justify-self: end;
    align-self: end;
}

#insta {
    cursor: pointer;
}

#insta:hover {
    filter: brightness(1.5);
}

/*모바일 메뉴바*/

body.menu-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

.menu-icon {
    display: none;
    cursor: pointer;
    position: relative; 
    margin-right: 5px;
}

.bar {
    width: 50px;
    height: 4px;
    border-radius: 3px;
    background-color: #ffffff;
    margin: 10px 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2000;
}

.overlay .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.overlay .nav-menu li {
    margin: 20px 0;
}

.overlay .nav-menu a {
    font-size: 24px;
    color: #ffffff;
}

.mobile-nav-menu {
    display: none;
}

.close-icon {
    position: absolute;
    top: 30px;
    right: 62px;
    font-size: 50px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}



/* 반응형 디자인을 위한 미디어 쿼리 */
@media screen and (max-width: 720px) {
    
    body {
        font-size: 14px;
        width: 720px;
        align-content: center;
        display: block;
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* 좌우 스크롤 제거 */
        -webkit-text-size-adjust: 100%;
    }

    .container {
        max-width: 720px;
        margin: 0 auto; /* 가운데 정렬 */
        box-sizing: border-box;
    }

    .navbar {
        justify-content: space-between;
        padding: 2rem;
    }

    .logo img {
        height: 40px;
        position: relative;
        top: 3px;
        margin-left: -10px;
    }

    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .mobile-nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        list-style-type: none;
        padding: 0;
    }

    .mobile-nav-menu li {
        margin: 20px 0;
    }

    .mobile-nav-menu a {
        font-size: 50px;
        color: #ffffff;
        text-decoration: none;
        font-family: 'Jalnan2';
    }

    .overlay.active {
        display: block;
    }

    .overlay.active .close-icon {
        display: block;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    
    /* 메인 컨텐츠 영역 */
    main {
    max-width: 100%;
    margin: 0 auto;
    }
    
    /* Section_1 */
    .container {
    height: 380px;
    margin-bottom: 4rem;
    }

    #intro {
        height: 720px; /* 뷰포트 높이의 100%를 사용 */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        position: relative;
        overflow: hidden;
    }
    
    #bg-video {
        position: relative;
        top: 0; /* 변경 */
        left: 50%; /* 변경 */
        width: 1550px; 
        height: auto; /* 변경 */
        max-width: 1550px; /* 제거 또는 100%로 변경 */
        clip-path: inset(0 0 0 0);
        z-index: -1;
 
    }

    #intro .intro-content {
        position: relative; /* 추가 */
        top: -30px;
        left: -775px;
        z-index: 1; /* 추가 */
        max-width: 100%; /* 변경 */
        padding: 0 20px; /* 추가 */
        margin: 0; /* 변경 */
        text-align: center;
    }

    #intro h1 {
        font-size: 45px;
        margin-left: 0;
        letter-spacing: -0.6px;
        
    }

    #intro p {
        font-size: 20px;
        margin-bottom: 50px;
        margin-left: 0;
        letter-spacing: -0.4px;
    }

    .intro-buttons {
        flex-direction: row; /* 버튼을 가로로 배열 */
        justify-content: center;
        gap: 12px;
        margin-left: 0;
        align-items: center;
    }

    .button_1, .button_2 {
        display: inline-block;
        width: 550px; /* 버튼 너비를 자동으로 설정 */
        padding: 1.5rem 2rem;
        font-size: 22px;
        left: -30px;
    }

    /* 제품구성 */
     #product {
        height: 900px;
        padding: 20px 0;
        position: relative; 
        margin-bottom: -200px;
        overflow: hidden;
    }

    .product-container {
        position: relative;
        top: 20px;
        left: 0;
        transform: none;
    }

    .product-title {
        font-family: 'Jalnan2';
        font-size: 27px;
        font-weight: 300;
        color: #00ff00; /* 강조색 */
        margin-bottom: 1rem;
        text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
        -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
    }
    
    .product-subtitle {
        font-family: 'Jalnan Gothic';
        font-size: 36px;
        font-weight: 300;
        margin-bottom: -10px;
        letter-spacing: -0.6px;
    }

    .mobile-break {
        display: block; /* 모바일에서만 줄바꿈 표시 */
    }
    
    
    .product-description {
        font-size: 20px;
        letter-spacing: -0.4px;
    }

    .product-image {
        position: relative;
        top: 50px;
        left: -103px;
    }

    .product-image img {
        width: 125%;

    }

    .product-button-1, .product-button-2, .product-button-3, 
    .product-button-4, .product-button-5, .product-button-6 {
        width: 20px;
        height: 20px;
        position: relative;
       
    }

    .product-button-1{
        top: 25px;
        left: -30px;
    }

    .product-button-2{
        top: 00px;
        left: -20px;
    }

    .product-button-3{
        top: -25px;
        left: -25px;
    }

    .product-button-4{
        top: -45px;
        left: -15px;
    }

    .product-button-5{
        top: -65px;
        left: -10px;
    }

    .product-button-6{
        top: -95px;
        left: -15px;
    }


    .product-image.shift-left,
    .product-button-1.shift-left,
    .product-button-2.shift-left,
    .product-button-3.shift-left,
    .product-button-4.shift-left,
    .product-button-5.shift-left,
    .product-button-6.shift-left {
        transform: none;
    }

    .popup {
        position: relative; 
        top: -610px;
        left: 20px;
        width: 650px;
        height: 700px;
        max-width: 700px;
        animation: none;
        opacity: 0;
        z-index: 1000; /* 추가 */
        background-color: #00ff00; /* 추가 */
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /* 추가 */
        margin-bottom: -735px;
    }

    .popup-content {
        position: relative;
        top: 0;
        left: -2px;
        padding: 20px;
        background-color: #ffffff;
        width: 94%;
        height: 400px;
        padding: 20px; /* 추가 */
    }

    .popup-text {
        position: relative;
        top: 450px ;
        left: -20px;
        padding: 10px;
    }

    .popup-text h3 {
        font-size: 30px;
        margin: 0;
        margin-bottom: 10px;
    }

    .popup-text p {
        font-size: 25px;
        line-height: 40px;
        margin: 0;
        letter-spacing: -0.4px; /* 원하는 자간 값을 설정하세요 */
    }

    .close-btn {
        position: absolute; /* 추가 */
        top: -10px;
        right: 10px;
        font-size: 60px; /* 추가 */
        cursor: pointer; /* 추가 */
    }

/* keyfeature1 */
#keyfeature1 {
    position: relative;
    top: 320px;
    width: 100%;
    height: 1600px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 325px;
    
}

.keyfeature1-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00ff00;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 720px;
    height: 400px; /* 섹션 높이 설정 */
    border-top: 4px solid black; /* 위쪽 보더 추가 */
    border-bottom: 2px solid black; /* 아래쪽 보더 추가 */
}

.keyfeature1-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    margin-top: 3rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
    -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
}

.keyfeature1-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 36px;
    font-weight: 300;
    margin-bottom: -10px;
    letter-spacing: -0.6px;
}

.keyfeature1-description {
    font-size: 20px;
    letter-spacing: -0.6px;
    
}

.keyfeature1-buttons {
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    position: relative;
    top: 175px;
    left: 0px;
}

.keyfeature1-button {
    padding: 1.5rem 3.1rem;
    background-color: #00ff00;
    border: 2px solid #000;
    color: #000;
    font-family: 'Jalnan2';
    font-size: 25px;
    letter-spacing: -0.4px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    transition: background-color 0.3s, color 0.3s;
    z-index: 1000; /* 다른 요소 위에 표시 */
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);

}

.keyfeature1-button:hover {
    background-color: #000;
    color: #00ff00;
}

.keyfeature1-content {
    display: flex;
    justify-content: center;
    position: relative;
    top: 480px;
    left: -50px;
    margin: 0 auto;
    max-width: 720px; /* 최대 너비 설정 */
    gap: var(--content-gap, 1rem); /* 간격을 CSS 변수로 설정 */
    flex-direction: column;
    margin-bottom: 100px;
}

.content-section {
    width: 670px;
    height: 550px;
    border: 2px solid #000;
    box-sizing: border-box;
    text-align: left; /* 글자 좌측 정렬 */
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    text-align: center;
}

#right-content {
    height: 600px;
}

.content-section p, .content-section h2 {
    font-family: 'JalnanGothic';
    font-size: 16px;
    color: #000;
    text-align: center; 
    margin-left: 20px;
}

#left-title {
    font-family: 'Jalnan2';
    font-size: 30px;
    color: #000;
    background-color: #00ff00;
    background-size: 100px 5px;
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin: 20px; /* 여백 제거 */
    padding:  0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
}

#video-container {
    width: 0%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    scrollbar-width: none;
}

#left-video {
    position: relative;
    top: -20px;
    left: -10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    clip-path: inset(20px 0px 40px 70px);
}

#right-title {
    font-family: 'Jalnan2';
    font-size: 30px;
    color: #000;
    background-color: #00ff00;
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin-left: 20px; /* 여백 제거 */
    margin-bottom: -10px;
    padding:  0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
}

#right-description {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    font-size: 20px;
    color: #000;
    margin-bottom: 30px;
    margin-left: 20px;
}

.shooting-mode h3 {
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    margin-left: 20px;
    margin-bottom: 10px;
    line-height: 0.5;
}

.image-row {
    display: flex;
    gap: 1rem;
    margin-left: 100px;
    align-items: center;
    margin-bottom: 20px;
}

.image-row img {
    position: relative;
    left: 50px;
    top: 10px;
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    padding-left: 20px;

}

/* keyfeature1-2 */
#keyfeature1-2 {
    position: relative;
    top: 50px;
    width: 100%;
    height: 1400px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 130px;
}

.keyfeature1-2-container {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;

}


.keyfeature1-2-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 36px;
    font-weight: 300;
    margin-bottom: -10px;
}

.keyfeature1-2-description {
    font-size: 20px;
}

.photo-frame-container {
    flex-direction: column;
}

.photo-frame-image {
    width: 90%;
    margin-bottom: 20px; /* 이미지 사이 간격 */
}

/* keyfeature2 */
#keyfeature2 {
    position: relative;
    width: 100%;
    height: 1600px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 150px;
}

.keyfeature2-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
}

.keyfeature2-container::before {
    content: '';
    position: absolute;
    top: 19px;
    left: 50px;
    right: 50px;
    height: 100%;
    border-top: 1px solid #000; /* 원하는 테두리 색상으로 변경 */
    box-sizing: border-box;
    z-index: -1; /* 배경 뒤에 위치하도록 설정 */
}

.keyfeature2-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    background-color: #ffffff;
    padding: 0rem 2rem ; /* 배경 크기를 조정하는 패딩 값 */
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
    -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin-top: 0px;
}


.keyfeature2-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 36px;
    font-weight: 300;
    margin-bottom: -10px;
}

.keyfeature2-description {
    font-size: 17px;
}


.keyfeature2-content {
    display: flex;
    justify-content: center;
    position: relative;
    top: 400px;
    left: -50px;
    margin: 0 auto;
    max-width: 720px; /* 최대 너비 설정 */
    gap: var(--content-gap, 1rem); /* 간격을 CSS 변수로 설정 */
    flex-direction: column;
    margin-bottom: 100px;
}

.content2-section {
    width: 670px;
    height: 550px;
    border: 2px solid #000;
    box-sizing: border-box;
    text-align: left; /* 글자 좌측 정렬 */
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    text-align: center;
}

.content2-section2 {
    width: 670px;
    height: 550px;
    border: 2px solid #000;
    box-sizing: border-box;
    text-align: left; /* 글자 좌측 정렬 */
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    text-align: center;
}

.content2-section2 p, .content2-section2 h2 {
    font-family: 'JalnanGothic';
    font-size: 16px;
    color: #000;
    text-align: left; /* 글자 좌측 정렬 */
    margin-left: 20px;
}

#left-title2 {
    font-family: 'Jalnan2';
    font-size: 30px;
    color: #000;
    background-color: #00ff00;
    background-size: 100px 5px;
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin: 20px; /* 여백 제거 */
    padding:  0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
}

#left-image2 {
    position: relative;
    left: 100px;
    top: 10px;
    display: flex;
    align-items: center;
    width: 400px;
    height: 400px;
    padding-left: 20px;
    margin-bottom: 30px;
}

#right-title2 {
    font-family: 'Jalnan2';
    font-size: 30px;
    color: #000;
    background-color: #00ff00;
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin-left: 20px; /* 여백 제거 */
    margin-bottom: -10px;
    padding:  0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
}

#right-description2 {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #000;
    margin-bottom: 30px;
    margin-left: 20px;
}

.shooting-mode2 h3 {
    font-family: 'Jalnan2';
    font-size: 20px;
    color: #000;
    margin-left: 20px;
    margin-bottom: 10px;
}

#right-image2-1 {
    position: relative;
    left: 100px;
    top: 15px;
    display: flex;
    align-items: center;
    width: 400px;
    height: 400px;
    padding-left: 20px;
    margin-bottom: 30px;
}

/*key feature2-2*/

.keyfeature2-2-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 36px;
    font-weight: 300;
    margin-bottom: -10px;
}

.keyfeature2-2-description {
    font-size: 20px;
}

.video-reference {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 720px;
    overflow: hidden;
    cursor: pointer;
}

.slide-track {
    display: flex;
    gap: 12px;
    width: 200%;
}

.slide-track img {
    width: 1920px;
    height: auto;
}
 

/* keyfeature3 */
#keyfeature3 {
    position: relative;
    top:-100px;
    width: 100%;
    height: 750px; /* 섹션 높이 설정 */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-top: 0;
    
}

.keyfeature3-container {
    position: absolute;
    top: -160px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00ff00;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
    border-top: 4px solid black; /* 위쪽 보더 추가 */
    border-bottom: 2px solid black; /* 아래쪽 보더 추가 */
}

.keyfeature3-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    margin-top: 3.7rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
    -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
}

.keyfeature3-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 36px;
    font-weight: 300;
    margin-bottom: -10px;
}

.keyfeature3-description {
    font-size: 20px;
}

.event-reference {
    position: relative;
    max-width: 1920px;
    top: 70px;
    left: -275px;
    transform: translateX(20%);
    z-index: -10;
    overflow: hidden;
    width: 115%;
    height: auto; /* 높이를 auto로 설정 */
}

.event-reference img {
    display: block;
    width: 110%;
    height: auto;
    clip-path: inset(10% 10% 10% 5%); /* 상 우 하 좌 순서로 크롭 */
}

/* keyfeature4 */
#keyfeature4 {
    position: relative;
    width: 100%;
    height: 1200px; /* 섹션 높이 설정 */
    background-color: #000000;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 0px;
}

.keyfeature4-container {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
    margin-bottom: 50px;
}


.keyfeature4-title {
    font-family: 'Jalnan2';
    font-size: 27px;
    font-weight: 300;
    color: #00ff00; /* 강조색 */
    background-color: none;
    padding: 0rem 2rem ; /* 배경 크기를 조정하는 패딩 값 */
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* 그림자 추가 */
    -webkit-text-stroke: 1px #000000; /* 테두리 추가 */
    display: inline-block; /* 배경이 텍스트 크기에 맞게 조정되도록 설정 */
    margin-top: 70px;
    margin-bottom: 0px;
}


.keyfeature4-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 36px;
    font-weight: 300;
    margin-bottom: -10px;
    color: #ffffff;
    white-space: normal;
    flex-direction: column;
}

.keyfeature4-description {
    font-size: 20px;
    color: #ffffff;
}


.keyfeature4-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -160px;
    margin: 0 auto;
    width: 100%; /* 내용의 너비 설정 */
    height: 1000px;
    max-width: 720px; /* 최대 너비 설정 */
    padding: 1rem 0;
    gap: var(--content-gap, 1rem); /* 간격을 CSS 변수로 설정 */
}

.content4-section  {
    width: calc(50% - var(--content-gap, 0.5rem) / 2); /* 좌우 섹션의 너비를 간격에 따라 조정 */
    height: 550px;
    border: 2px solid #000000;
    background-color:#ffffff;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px #00ff00;
    width: 550px;
    text-align: center;

}

.content4-section2 {
    width: calc(50% - var(--content-gap, 0.5rem) / 2); /* 좌우 섹션의 너비를 간격에 따라 조정 */
    height: auto;
    border: 2px solid #000000;
    background-color:#ffffff;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px #00ff00;
    width: 550px;
    text-align: center;
}

#left-title4 {
    font-family: 'Jalnan2';
    font-size: 30px;
    color: #000;
    background-color: #00ff00;
    background-size: 100px 5px;
    display: inblock; /* inline-block에서 block으로 변경 */
    margin: 20px auto; /* 좌우 마진을 auto로 설정하여 중앙 정렬 */
    padding: 0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
    text-align: center; /* 텍스트 중앙 정렬 */
}

#left-subtitle4-1 {
    display: block; /* flex에서 block으로 변경 */
    font-family: 'Jalnan2';
    font-size: 23px;
    color: #000;
    margin: 10px auto; /* 좌우 마진을 auto로 설정하여 중앙 정렬 */
    line-height: 1;
    text-align: center; /* 텍스트 중앙 정렬 */
}

.description-row {
    display: flex;
    justify-content: left; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    margin-left: 120px;
}

#check-icon {
    width: 25px;
    height: auto;
    margin-right: 8px;
}

.description {
    font-family: 'NEXON Lv2 Gothic';
    font-size: 20px;
    color: #000;
    text-align: center; /* 텍스트 중앙 정렬 */
}

#left-subtitle4-2 {
    display: block; /* flex에서 block으로 변경 */
    font-family: 'Jalnan2';
    font-size: 23px;
    color: #000;
    margin: 60px auto 0; /* 상단 마진 유지, 좌우 마진을 auto로 설정하여 중앙 정렬 */
    line-height: 1;
    text-align: center; /* 텍스트 중앙 정렬 */
    margin-left: -10px;
}

#right-title4 {
    font-family: 'Jalnan2';
    font-size: 30px;
    color: #000;
    background-color: #00ff00;
    background-size: 100px 5px;
    display: inblock; /* inline-block에서 block으로 변경 */
    margin: 20px auto; /* 좌우 마진을 auto로 설정하여 중앙 정렬 */
    padding: 0.0rem 0.5rem 0.7rem 0.5rem;
    line-height: 0.3;
    text-align: center; /* 텍스트 중앙 정렬 */
}

#right-subtitle4-1 {
    display: block; /* flex에서 block으로 변경 */
    font-family: 'Jalnan2';
    font-size: 23px;
    color: #000;
    margin: 10px auto; /* 좌우 마진을 auto로 설정하여 중앙 정렬 */
    line-height: 1;
    text-align: center; /* 텍스트 중앙 정렬 */
}

.description-right-row {
    display: flex;
    justify-content: left; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    margin-left: 90px;
    margin-top: 15px
}

#check-icon {
    width: 25px;
    height: auto;
    margin-right: 8px;
}

.description-right {
    font-family: 'NEXON Lv2 Gothic';
    font-size: 20px;
    color: #000;
    text-align: left; /* 텍스트 중앙 정렬 */
}

.description-right-row2 {
    display: flex;
    align-items: center;
    text-align: center;
    
}

.description-right2 {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    font-size: 15px;
    color: #000;
    line-height: 1; /* 줄 높이 설정 */
    margin-left: 100px;
    margin-bottom: 0;
}

#right-subtitle4-2 {
    display: flex;
    align-items: center;
    font-family: 'Jalnan2';
    font-size: 23px;
    color: #000;
    margin-left: 170px; /* 여백 제거 */
    margin-top: 60px;
    line-height: 1; /* 줄 높이 설정 */
    margin-bottom: -0px;
}


/* keyfeature4-2 */
#keyfeature4-2 {
    position: relative;
    width: 100%;
    height: 2800px; /* 섹션 높이 설정 */
    background-color: #000000;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000; /* 텍스트 색상 */
    margin-bottom: 0px;
}

.keyfeature4-2-container {
    position: relative;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    background-size: cover; /* 기본값은 cover */
    background-position: center;
    width: 100%;
    height: 330px; /* 섹션 높이 설정 */
    margin-bottom: -50px;
}

.subtitle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
    color: #00ff00;
}

.keyfeature4-2-subtitle {
    font-family: 'Jalnan Gothic';
    font-size: 36px;
    font-weight: 300;
    color: #ffffff;
    margin-right: 10px; /* 간격을 조정 */
}

.mobile-break {
    display: block; /* 모바일에서 줄바꿈 표시 */
}

.keyfeature4-2-description {
    font-size: 20px;
    color: #ffffff;
}

.keyfeature4-2-description2 {
    font-size: 17px;
    color: #00ff00;
}

.keyfeature4-2-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: -200px;
    left: 15px;
    width: 80%; /* 내용의 너비 설정 */
    height: 1000px;
    max-width: 720px; /* 최대 너비 설정 */
    padding: 1rem 0;
    gap: var(--content-gap, 1rem); /* 간격을 CSS 변수로 설정 */
}

.content4-2-section  {
    width: calc(50% - var(--content-gap, 0.5rem) / 2); /* 좌우 섹션의 너비를 간격에 따라 조정 */
    height: 550px;
    border: 2px solid #000000;
    background-color:#ffffff;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px #00ff00;
    width: 550px;
    text-align: center;
}

#title4-2 {
    font-family: 'Jalnan2';
    font-size: 20px;
    text-align: center;
    color: #000;
    margin: 40px;
    line-height: 1; /* 줄 높이 설정 */
}

.content4-2-buttons {
    position: relative;
    left: -220px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 100px;
}

.button4-2_1, .button4-2_2 {
    display: inline-block;
    padding: 1.5rem 2rem;
    background-color: transparent;
    border: 2px solid #00ff00; /* 테두리 추가 */
    color: #ffffff;
    font-family: 'Jalnan2';
    text-align: center;
    -webkit-text-stroke: 0.5px #000;
    text-decoration: none;
    font-size: 22px;
    font-weight: 50;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    left: 0px;
    border-radius: 0;
    width: 200px;
}

.button4-2_1:hover, .button4-2_2:hover  {
    background-color: #00ff00;
    color: #000000;
}

#additional-text-section {
    height: auto; /* 높이를 자동으로 조정 */
    top: 1380px;
    overflow: hidden;
}

.text-grid {
    grid-template-columns: 1fr; /* 단일 열 그리드 */
    grid-auto-flow: row;
    gap: 20px;
    padding: 40px;
}

.text-cell {
    text-align: left;
    font-size: 21px; /* 모바일에서 폰트 크기 조정 */
    font-family: 'NEXON Lv2 Gothic';
    font-display: none;
    margin-bottom: -10px;
}

.text-cell * { /* 모든 하위 요소에도 적용 */
    color: inherit; /* 부모 요소의 색상 상속 */
    text-decoration: none; /* 밑줄 제거 */
    cursor: default; /* 기본 커서로 변경 */
}

.text-cell:contains("581-86-03121") {
    font-weight: normal; /* 글꼴 두께를 보통으로 */
    font-style: normal; /* 기울임 없음 */
}

#insta-cell {
    grid-column: 1;
    grid-row: auto;
    justify-self: right;
    left: -40px;
    top: -65px;
    scale: 200%;
}
}


